<div class="border border-zinc-800 p-1 rounded-md transition-all duration-150">
  <div class="flex flex-row justify-between border-b border-zinc-800 pb-1">
    <div class="flex flex-row items-center gap-2">
      <i
        class="ri-home-smile-fill ri-lg text-amber-700"
        title="Category name"
      ></i>
      <!-- here goes custom icon according to category -->
      <div class="flex flex-col">
        <span class="text-md font-bold">{{ transaction.description }}</span>
        <span class="text-md font-bold text-zinc-400">{{ transaction.dueDate | date: "dd MMM"}}</span>
      </div>
    </div>
    <p class="pb-1">$ {{ transaction.amount }}</p>
  </div>
  <div class="mt-2 flex justify-end gap-2">
    <i
      class="ri-edit-fill bg-cyan-700 px-2 rounded-md cursor-pointer"
      title="Edit transaction"
    ></i>
    <i
      class="ri-delete-bin-2-fill bg-red-700 px-2 rounded-md cursor-pointer"
    ></i>
  </div>
</div>
