<div class="border border-zinc-700 p-1 rounded-md transition-all duration-150">
  <div class="flex flex-row justify-between border-b border-zinc-700 pb-1">
    <div class="flex flex-row items-center gap-2">
      <i
        class="ri-home-smile-fill ri-lg text-amber-700"
        title="Category name"
      ></i>
      <!-- here goes custom icon according to category -->
      <div class="flex flex-col">
        <span class="text-md font-bold">Expense Name</span>
        <!-- here goes expense -->
        <span class="text-md font-bold text-zinc-400">11 Aug</span>
        <!-- here goes date of expense -->
      </div>
    </div>
    <p class="pb-1">$ 666.999</p>
  </div>
  <div class="mt-2 flex justify-end gap-2">
    <i
      class="ri-edit-fill bg-indigo-700 px-2 rounded-md cursor-pointer"
      title="Edit expense"
    ></i>
    <i
      class="ri-delete-bin-2-fill bg-red-700 px-2 rounded-md cursor-pointer"
      title="Delete expense"
    ></i>
  </div>
</div>
